body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.events_container {
}

.events_container__list {
    margin: 0;
    padding: 1rem;
    list-style: none;
    background-color: #f7df1e;
}

.events_container__item {
    font-size: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.events_container__list:nth-last-child() {
    border: none;
    margin-bottom: 0;
}

.events_container__item:hover {
    color: white;
    cursor: pointer;
}

.partecipants {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 2rem;
}

.partecipants textarea {
    padding: 1rem;
    height: 100%;
    font-size: 2rem;
    border: 2px solid #ccc;
}

.partecipants button {
    font-size: 2rem;
    padding: 1rem;
    border: none;
    color: black;
    background-color: #f3df49;
    text-transform: uppercase;
}
