.Number {
  flex-basis: 10vw;
  height: 10vh;
  text-align: center;
  display: flex;
  background-color: red;
  align-items: center;
  justify-content: center;
  border: 10px solid white;
}

  .Number strong {
  }

